<div class="page-header">
  <h1>Best Sellers</h1> 
  </div>


<% @books.in_groups_of(3, false) do |books| %>
  <div class="row">
    <% books.each do |book| %>
      <div class="col-xs-4">
        <h3><%= link_to book.title, book_path(id: book.id) %></h3>
        <div class="thumbnail">
          <%= image_tag book.photo_url, class: "small" %>
          <div>
            <p><%= number_to_currency book.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
